<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Camping</title>

    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <!-- axious사용 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- ajax사용 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- 회원가입 다음주소 api -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap"rel="stylesheet"/>

    <!-- js -->
    <script src="js/join.js" defer></script>
    <script type="module" src="js/index.js"></script>
    <script src="js/login.js" defer></script>

  </head>
  <body>
    <!-- popup(로그인) -->
    <div class="popup-1">
      <div class="popup-1-content">
        <div class="btn-close-move">
          <div class="login-txt">
            <span>로그인</span>
          </div>
          <button class="popup-1__btn-close">
            <span><i class="fa-solid fa-xmark fa-lg"></i></span>
          </button>
        </div>

        <div class="font-move">
          <div class="login-box">
            <div id="login-form">
              <input type="text" name="id" placeholder="아이디" />
              <input type="password" name="pwd" placeholder="비밀번호" />
              <input
                type="button"
                onClick="login()"
                value="로그인"
                class="login-btn"
              />
            </div>
          </div>
          <div class="fake-line"></div>
          <div class="join-box">
            <button>
              <span class="txt-3">아직 회원이 아니신가요?</span>
              <span class="txt-4">회원가입</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- popup(회원가입) -->
    <div class="popup-2">
      <div class="popup-2-content">
        <div class="btn-close-move">
          <div class="login-txt">
            <span>회원가입</span>
          </div>
          <button class="popup-2__btn-close">
            <span><i class="fa-solid fa-xmark fa-lg"></i></span>
          </button>
        </div>

        <div class="font-move">
          <div class="joinus-box">
            <div id="join-form">
              <input type="text" name="id1" placeholder="아이디" />
              <input type="password" name="pwd1" placeholder="비밀번호" />
              <input
                type="password"
                name="checkPwd"
                placeholder="비밀번호 확인"
              />
              <input type="text" name="name" placeholder="이름" />
              <input type="text" name="bday" placeholder="생일 ( YY-MM-DD )" />
              <div class="address-box">
                <input
                  type="text"
                  id="sample6_postcode"
                  maxlength="0"
                  placeholder="우편번호"
                  name="postcode"
                  size="30"
                  class="postcode"
                />
                <input
                  type="button"
                  onclick="sample6_execDaumPostcode()"
                  value="주소 찾기"
                  class="searchbtn ad-btn"
                />
              </div>
              <input
                type="text"
                maxlength="0"
                id="sample6_address"
                placeholder="주소"
                name="address"
                size="49"
                class="address"
              />
              <input
                type="text"
                id="sample6_detailAddress"
                placeholder="상세주소를 입력해주세요."
                name="detailaddress"
                size="49"
                class="detailaddress"
              />
              <input
                type="hidden"
                id="sample6_extraAddress"
                placeholder="참고항목"
              />
              <input
                type="button"
                onClick="join()"
                value="회원가입"
                class="join-btn"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="top-bar">
        <!-- logo-box -->
        <div class="logo-box">
          <div class="logos">
            <a href="#">
              <div class="logo">
                <h1>Camping In.</h1>
              </div>
              <div class="logo-txt">
                <span>캠핑의 즐거움을 찾아나서는 여정</span>
              </div>
            </a>
          </div>
        </div>
        <!-- 로그인/로그아웃, 회원가입, 마이페이지 버튼자리 -->
        <div class="btn-box" id="loginout">
          <!-- 로그인 로그아웃 위치 -->
        </div>

      </div>
      <div class="main-box">
        <ul>
          <li>
            <div class="txt-box">
              <div class="icons">
                <div class="img-box"><img src="imgs/map.png" alt="" /></div>
              </div>
              <div class="titles">
                <!-- <button class="btns font-20" onclick="location.href='/map'">전국 캠핑장 지도</button> -->
                <button class="btns font-20" id="camping">전국 캠핑장 지도</button>
              </div>
              <div class="infos">
                <span>편리하게 확인 가능한</span>
                <span>전국의 캠핑 지도 보러가기</span>
              </div>
            </div>
            <div class="img-box">
              <img src="imgs/img_1.png" alt="" />
            </div>
          </li>
          <li>
            <div class="txt-box">
              <div class="icons">
                <div class="img-box"><img src="imgs/shop.png" alt="" /></div>
              </div>
              <div class="titles">
                <button class="btns font-20">캠핑 쇼핑몰</button>
              </div>
              <div class="infos">
                <span>한 번에 확인 가능한</span>
                <span>캠핑 쇼핑몰 목록 보러가기</span>
              </div>
            </div>
            <div class="img-box">
              <img src="imgs/img_2.png" alt="" />
            </div>
          </li>
          <li>
            <div class="txt-box">
              <div class="icons">
                <div class="img-box"><img src="imgs/talk.png" alt="" /></div>
              </div>
              <div class="titles">
                <button class="btns font-20">커뮤니티 게시판</button>
              </div>
              <div class="infos">
                <span>캠핑러들의 소통 공간</span>
                <span>캠핑 꿀팁과 질문을 공유해보세요!</span>
              </div>
            </div>
            <div class="img-box">
              <img src="imgs/img_3.png" alt="" />
            </div>
          </li>
        </ul>
      </div>
      <div class="footer">
        <span>© 2023 Woojeong All rights reserved</span>
      </div>
    </div>
  </body>
</html>
